<footer style="display: block;" id="bottom">
    %if ctx.board or ctx.thread:
        <div style="display: block; text-align: right; align-items: flex-start; float: left; padding: 10px">
            <button>Previous</button>
            <small>
            %for i in range(1, 11):
                %if i == 1:
                    [<strong><a href="">{{i}}</a></strong>]
                %else:
                    [<strong><a href="{{i}}">{{i}}</a></strong>]
                %end
            %end
            </small>
            <button>Next</button>
        </div>
        <div style="display: block; text-align: right; align-items: flex-end; float: right; padding: 10px">
            <small>
                Delete Post: [<input class="input-delete" type="checkbox"/>&nbsp;File Only]
                <button>Delete</button>
                <button>Report</button>
            </small>
        </div>
    %end
    <div align="center" style="display:block;">
        <strong>
            <p>{{ctx.config['attribution']}}</p>
        </strong>
        <small>
            <ul class="horizontal-links">
                <a href="/about">
                    <li>About</li>
                </a>
                <a href="/feedback">
                    <li>Feedback</li>
                </a>
                <a href="/legal">
                    <li>Legal</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </small>
        <small>
            <p>{{ctx.config['info']['disclaimer']}}</p>
        </small>
    </div>
</footer>