%if not ctx.thread:
    %for reply in thread.replies:
    <div id="{{thread.id}}-{{reply.id}}" style="display: flex; margin: 10px;">
        &gt;&gt;&nbsp;
        <div id="p{{reply.id}}" style="background-color: #f0e0d6; padding: 10px;" >
            %if reply and reply.img and reply.img.url:
            <a target="_blank" href="/{{reply.img.url}}">
                <img src="/{{reply.img.url}}" class="thread-img"/>
            </a>
            %end
            <div id="{{reply.id}}-content" style="text-align: justify;">
                %include(ctx.content_info)
                %if reply and reply.img.url and reply.img.orig_filename:
                %from util import convert_unit
                %include(ctx.file_info)
                %end
                <!-- 
                    This handles quotes only, will make an effort to combine implementation for thread.
                    For now, make sure you update comment.html and catalog too
                -->
                <blockquote class="newlines" style="word-break: break-word;">
                %for line in re.split("\r?\n", reply.comment):
                    %include(ctx.comment_line)
                %end
                </blockquote>
            </div>
        </div>
    </div>
    %end
%else:
    %import re
    %for reply in ctx.thread.replies:
    <div id="{{ctx.thread.id}}-{{reply.id}}" style="display: flex; margin: 10px;">
        &gt;&gt;&nbsp;
        <div id="p{{reply.id}}" style="background-color: #f0e0d6; padding: 10px;" >
            %if reply and reply.img and reply.img.url:
            <a target="_blank" href="/{{reply.img.url}}">
                <img src="/{{reply.img.url}}" class="thread-img"/>
            </a>
            %end
            <div id="{{reply.id}}-content" style="text-align: justify;">
                %include(ctx.content_info)
                %if reply and reply.img.url and reply.img.orig_filename:
                    %include(ctx.file_info)
                %end
                <!-- 
                    This handles quotes only, will make an effort to combine implementation for thread.
                    For now, make sure you update comment.html and catalog too
                -->
                <blockquote class="newlines" style="word-break: break-word;">
                %for line in re.split("\r?\n", reply.comment):
                    %include(ctx.comment_line)
                %end
                </blockquote>
            </div>
        </div>
    </div>
    %end
%end