%if ctx.thread and 'quote' not in vars():
<div style="display: inline-block">
    <input type="checkbox" name="{{ctx.thread.id}}" class="input-delete"/>
    <strong class="name">{{ctx.thread.name}}</strong>&nbsp;
    %if ctx.thread.subject:
        <strong>{{ctx.thread.subject}}</strong>&nbsp;
    %end
    <a href="{{ctx.board.path}}thread/{{ctx.thread.id}}#p{{ctx.thread.id}}">No.</a><a href="{{ctx.board.path}}thread/{{ctx.thread.id}}#q{{ctx.thread.id}}">{{ctx.thread.id}}</a>&nbsp;
    <small>{{ctx.thread.created.strftime("%m/%d/%y(%a)%H:%M:%S")}}&nbsp;</small>
    %if ctx.reply:
        [<a href="{{ctx.board.path}}thread/{{ctx.thread.id}}">Reply</a>]
    %end
</div>
%elif 'quote' not in vars() and thread:
<div style="display: inline-block">
    <input type="checkbox" name="{{thread.id}}" class="input-delete"/>
    <strong class="name">{{thread.name}}</strong>&nbsp;
    %if thread.subject:
        <strong>{{thread.subject}}</strong>&nbsp;
    %end
    <a href="{{ctx.board.path}}thread/{{thread.id}}#p{{thread.id}}">No.</a><a href="{{ctx.board.path}}thread/{{thread.id}}#q{{thread.id}}">{{thread.id}}</a>&nbsp;
    <small>{{thread.created.strftime("%m/%d/%y(%a)%H:%M:%S")}}&nbsp;</small>
    %if ctx.reply:
        [<a href="{{ctx.board.path}}thread/{{thread.id}}">Reply</a>]
    %end
</div>
%elif 'quote' in vars() and not ctx.thread:
<div style="display: inline-block">
    <input type="checkbox" name="{{quote.id}}" class="input-delete"/>
    <strong class="name">{{quote.name}}</strong>&nbsp;
    <a href="{{ctx.board.path}}thread/{{thread.id}}#p{{quote.id}}">No.</a><a href="{{ctx.board.path}}thread/{{thread.id}}#q{{quote.id}}">{{quote.id}}</a>&nbsp;
    <small>{{quote.created.strftime("%m/%d/%y(%a)%H:%M:%S")}}&nbsp;</small>
</div>
%elif 'quote' in vars() and ctx.thread:
<div style="display: inline-block">
    <input type="checkbox" name="{{quote.id}}" class="input-delete"/>
    <strong class="name">{{quote.name}}</strong>&nbsp;
    <a href="{{ctx.board.path}}thread/{{ctx.thread.id}}#p{{quote.id}}">No.</a><a href="{{ctx.board.path}}thread/{{ctx.thread.id}}#q{{quote.id}}">{{quote.id}}</a>&nbsp;
    <small>{{quote.created.strftime("%m/%d/%y(%a)%H:%M:%S")}}&nbsp;</small>
</div>
%end
